h1{
  color:#AEE7E8;
  font-size:75px;
}
p{
  text-align: center;
}
h1{
  text-align: center;
}
p.double {border-style: double;}
#Bio {
  font-size: 15px;
}
#Misc {
  font-size: 30px;
}
#Contact{
font-size: 20px;
}

p.dotted {border-style: dotted;
}
#gif{

  width: 10px;
height: auto;
}
